{% extends "bootstrap/base.html" %}

{% block title %}
	{% if title %}
	{{title}} - My Movies
	{% else %}
	Welcome to My Movies 
	{% endif %}
{% endblock %}

{% block body %}
	<div>
		<ul class="nav nav-pills">
  			<li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>
  			{% if current_user.is_anonymous %}
  			<li role="presentation"><a href="{{ url_for('login') }}">Login</a></li>
  			{% else %}
  			<li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
  			{% endif %}
		</ul>
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
{% endblock%}
