{% extends "base.html" %}
{% block content %}

<div class="container">
	
	<div class="row">
	{% for movie in movies %}
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
    			<form action="" method="post">
      			<img src={{ movie.poster }} alt="...">
      			<div class="caption">
        			<h3>{{ movie.title }}</h3>
        			<p>Plot: {{ movie.plot[:100] }}<br></p>
        			<p>Genre: {{ movie.genre }}<br></p>
        			<p>Actors: {{ movie.actor }}</p>
        			<div class="btn-group" role="group" aria-label="...">
  						<button type="button" class="btn btn-default" name=movie.imdb_id>Like</button>
  						<button type="button" class="btn btn-default" name=movie.imdb_id>Dislike</button>
					</div>
				</div>
				</form>
    		</div>
  		</div>
  	{% endfor %}
	</div>
	<div>
	  	<p><input type="submit" class="btn btn-primary btn-lg" name="submit" value="Get Recommendations"></p>
  	</div>	
</div>
		
{% endblock %}